body {
	font-size: 16px;
	background: #eeeeee;
	width: 100%;
	margin: 0 auto;
	color: #444444;
	line-height: 1.2;
	max-width: 960px;
	padding: 30px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	color: #000000;
	font-size: 28px;
}

h2 {
	border-bottom: 1px solid #CCCCCC;
	color: #000000;
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	color: #777777;
	background-color: inherit;
	font-size: 14px;
}

hr {
	height: 0.2em;
	border: 0;
	color: #CCCCCC;
	background-color: #CCCCCC;
}

p, blockquote, dl, table, pre {
	margin: 15px 0;
}

code, pre {
	border-radius: 3px;
	background-color: #F8F8F8;
	color: inherit;
}

code {
	border: 1px solid #EAEAEA;
	margin: 0 2px;
	padding: 0 5px;
}

pre {
	border: 1px solid #CCCCCC;
	line-height: 1.25em;
	overflow: auto;
	padding: 6px 10px;
}

pre > code {
	border: 0;
	margin: 0;
	padding: 0;
}

blockquote {
	padding: 0 2em;
	margin-left: 0;
}

blockquote cite {
	font-size: 14px;
	line-height: 20px;
	color: #bfbfbf;
}

a, a:visited {
	color: #00BBFF;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	margin: 0 -0.5em 0 -0.5em;
}

table td, table th {
	padding: 0.2em 0.5em 0.2em 0.5em;
}

.container {
	margin-top: 15px;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
}

.sitename, .sitename a, .sitename a:hover, .sitename a:visited {
	font-size: 140%;
	color: #000;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	text-decoration: none;
	padding: 2px 10px;
}

.title {
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 140%;
	font-weight: normal;
	letter-spacing: 1px;
	padding-left: 2px;
	white-space: nowrap;
	margin-top: 15px;
}

.info {
	text-align: center;
	padding: 10px;
}

.date {
	font-weight: normal;
	letter-spacing: 1px;
	padding-left: 2px;
	white-space: nowrap;
	color: #888888;
	margin-bottom: 10px;
}

.clear {
	clear: both;
}

#nav-bar {
	background: #fff;
	width: 100%;
	border-bottom: 1px solid #E0E0E0;
}

#nav-bar ul {
	margin: 0px;
	padding: 0px;
}

#nav-bar li {
	list-style: none;
	display: inline-block;
}

#nav-bar a:hover {
	background-color: #eee;
}

#nav-bar a {
	letter-spacing: 3px;
	border-right: 1px solid #E0E0E0;
	padding: 10px 20px;
	font-style: italic;
	text-decoration: none;
	color: #000;
	display: inline-block;
}

#content {
	font-size: 91%;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
}

#content textarea {
	padding: 2px;
}

#paragraph{
	padding: 20px;
}

#content ul, #content ol, #content li {
	margin: 10px 0;
}

#pager {
	padding-top: 10px;
	text-align: center;
}

.page {
	color: #ccc;
	border: 1px solid #eee;
	padding: 2px 4px;
}

.page {
	border: 1px solid #eee;
	padding: 2px 4px;
}

#copy {
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}


