$def with (content)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$title</title>
<meta name="robots" content="all,follow" />
<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
</head>
<body>
<div class="pageContent">
    <div id="main">
      <div class="container">
        <h1 class="sitename"><a href="/">$site_name</a></h1>
        </div>

        <div class="container">
        $:content
        </div>
      <div id="copy" class="container info">&copy; $footer_tag
       </div>
    </div>
</div>
</body>
</html>
